<a href="https://colab.research.google.com/github/louispranata/UTS_ML2019_12741423/blob/master/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment 2: Practical Machine Learning Project

#Introduction

This report will be addressing a real-world problem and tries to solve it by producing analysis of its data and building data models. Based on the data, they will be tested accordingly and be compared with each other to provide concrete evidences of the solutions to the problems. For this report, it will be created by the cloud computing environment of Google Colab and using by the Python programming language.

The dataset that will be used to solve the problem is the results.csv which contains over 40000 international football results from the year 1872 to now. Each rows contain some corresponding attributes such as date, the teams, score line, tournament and venue. This file will be used as the input  of the data which is used to help to solve the problem.

In [0]:
import numpy as np 
import pandas as pd
import xarray as xr  
import numpy as np

In [0]:
import csv

with open('results.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')

In [0]:
df = pd.read_csv('results.csv')
df.head()

         date home_team away_team  ...     city   country neutral
0  1872-11-30  Scotland   England  ...  Glasgow  Scotland   False
1  1873-03-08   England  Scotland  ...   London   England   False
2  1874-03-07  Scotland   England  ...  Glasgow  Scotland   False
3  1875-03-06   England  Scotland  ...   London   England   False
4  1876-03-04  Scotland   England  ...  Glasgow  Scotland   False

[5 rows x 9 columns]

In [0]:
df.tail()

             date         home_team  ... country  neutral
40834  2019-07-18    American Samoa  ...   Samoa     True
40835  2019-07-18              Fiji  ...   Samoa     True
40836  2019-07-19           Senegal  ...   Egypt     True
40837  2019-07-19        Tajikistan  ...   India     True
40838  2019-07-20  Papua New Guinea  ...   Samoa     True

[5 rows x 9 columns]

In [0]:
len(df)

40839

In [0]:
df['country'].unique()

array(['Scotland', 'England', 'Wales', 'Republic of Ireland',
       'United States', 'Uruguay', 'Austria', 'Hungary', 'Argentina',
       'Belgium', 'France', 'Netherlands', 'Bohemia', 'Switzerland',
       'Sweden', 'Germany', 'Italy', 'Chile', 'Norway', 'Finland',
       'Luxembourg', 'Russia', 'Denmark', 'Spain', 'Japan', 'Brazil',
       'Paraguay', 'China PR', 'Canada', 'Estonia', 'Guatemala',
       'Czechoslovakia', 'Poland', 'Yugoslavia', 'New Zealand', 'Romania',
       'Latvia', 'Portugal', 'Northern Ireland', 'Australia', 'Lithuania',
       'Turkey', 'Mexico', 'Aruba', 'Soviet Union', 'Haiti',
       'Philippines', 'Bulgaria', 'Jamaica', 'Kenya', 'Czech Republic',
       'Peru', 'Honduras', 'British Guyana', 'Uganda', 'El Salvador',
       'Barbados', 'Irish Free State', 'Trinidad and Tobago', 'Greece',
       'Curaçao', 'Egypt', 'Dominica', 'Guadeloupe', 'Palestine',
       'Netherlands Guyana', 'French Guiana', 'Cuba', 'Colombia',
       'Saint Kitts and Nevis', 'Éire', 'Panama', 'Bohemia and Moravia',
       'Slovakia', 'Manchuria', 'Croatia', 'Costa Rica', 'Afghanistan',
       'Martinique', 'Southern Rhodesia', 'Iceland', 'Albania',
       'Madagascar', 'Northern Rhodesia', 'Tanganyika', 'Iran', 'Ecuador',
       'French Somaliland', 'Belgian Congo', 'Mauritius', 'Hong Kong',
       'Vietnam', 'Macau', 'Ethiopia', 'Suriname', 'Puerto Rico',
       'Réunion', 'Israel', 'Sierra Leone', 'Zanzibar', 'Bolivia',
       'Gold Coast', 'South Africa', 'Netherlands Antilles',
       'New Caledonia', 'Fiji', 'Nigeria', 'Venezuela', 'Ceylon',
       'French Polynesia', 'Gambia', 'Singapore', 'Portuguese Guinea',
       'German DR', 'New Hebrides', 'Burma', 'Saarland', 'Cambodia',
       'India', 'Lebanon', 'Pakistan', 'Malaya', 'South Korea',
       'Vietnam Republic', 'Togo', 'Indonesia', 'Sudan', 'Malta', 'Syria',
       'Tunisia', 'Nyasaland', 'Ghana', 'Morocco', 'United Arab Republic',
       'North Korea', 'Dahomey', 'Guinea-Bissau', 'Mali Federation',
       'Mali', 'Vietnam DR', 'Cyprus', 'Iraq', 'Saint Lucia', 'Senegal',
       'Libya', 'Gabon', 'Thailand', 'Congo', 'Tanzania', 'Grenada',
       'Guinea', 'Central African Republic', 'Cameroon', 'Algeria',
       'Kuwait', 'Ivory Coast', 'Lautoka', 'Liberia', 'Malaysia',
       'Jordan', 'Zambia', 'Saint Vincent and the Grenadines', 'Bermuda',
       'Niger', 'Malawi', 'DR Congo', 'Upper Volta', 'Chinese Taipei',
       'Guyana', 'Mauritania', 'Rhodesia', 'Saudi Arabia', 'Eswatini',
       'Mozambique', 'Papua New Guinea', 'Bahrain', 'Lesotho', 'Somalia',
       'Zaïre', 'Sri Lanka', 'Antigua and Barbuda', 'Faroe Islands',
       'Qatar', 'Yemen DPR', 'Burundi', 'Guam', 'Chad', 'Angola',
       'Dominican Republic', 'Seychelles', 'São Tomé and Príncipe',
       'Botswana', 'Benin', 'Rwanda', 'Bangladesh',
       'United Arab Emirates', 'Zimbabwe', 'Oman', 'Equatorial Guinea',
       'Cape Verde', 'Liechtenstein', 'Nepal', 'Greenland', 'Vanuatu',
       'Western Samoa', 'Belize', 'Brunei', 'Djibouti', 'Burkina Faso',
       'Yemen AR', 'Anguilla', 'Nicaragua', 'Cayman Islands', 'Monaco',
       'Solomon Islands', 'Sint Maarten', 'Namibia', 'Saint Martin',
       'San Marino', 'Slovenia', 'Moldova', 'Ukraine', 'Kazakhstan',
       'Tajikistan', 'Uzbekistan', 'Turkmenistan', 'Georgia',
       'Kyrgyzstan', 'Armenia', 'Belarus', 'Guernsey', 'Azerbaijan',
       'North Macedonia', 'Jersey', 'Montserrat', 'Gibraltar',
       'Bosnia and Herzegovina', 'Tonga', 'Andorra', 'Yemen',
       'U.S. Virgin Islands', 'Palau', 'Cook Islands',
       'British Virgin Islands', 'Eritrea', 'Bahamas', 'Micronesia',
       'Maldives', 'Laos', 'Isle of Man', 'Samoa', 'Bhutan',
       'Serbia and Montenegro', 'Mayotte', 'Mongolia', 'Northern Cyprus',
       'Serbia', 'Montenegro', 'Northern Mariana Islands', 'Comoros',
       'Turks and Caicos Islands', 'South Sudan', 'Kosovo', 'East Timor',
       'Tahiti', 'Myanmar'], dtype=object)

In [0]:
df['country'].value_counts()

United States               1144
France                       801
England                      687
Malaysia                     644
Sweden                       637
Germany                      581
Brazil                       529
Spain                        517
Thailand                     483
Italy                        480
Switzerland                  477
Austria                      475
United Arab Emirates         472
South Africa                 470
Qatar                        467
South Korea                  453
Argentina                    449
Hungary                      431
Chile                        405
Belgium                      396
Mexico                       392
Egypt                        391
Netherlands                  390
Norway                       385
Scotland                     385
Uruguay                      374
Poland                       372
Denmark                      371
Trinidad and Tobago          369
Singapore                    368
                            ...
Ceylon                         8
Afghanistan                    8
Vietnam DR                     7
Éire                           7
Gold Coast                     6
Saarland                       6
Rhodesia                       6
Myanmar                        5
Yemen AR                       5
Montserrat                     5
Monaco                         5
Manchuria                      5
Nyasaland                      4
East Timor                     4
French Somaliland              4
Northern Mariana Islands       3
Palau                          3
New Hebrides                   3
Bohemia                        3
Tahiti                         2
Turks and Caicos Islands       2
Yemen DPR                      2
Greenland                      2
Mayotte                        2
Lautoka                        1
Mali Federation                1
Micronesia                     1
Bohemia and Moravia            1
Portuguese Guinea              1
Belgian Congo                  1
Name: country, Length: 266, dtype: int64

In [0]:
x = df['country'].unique()
print(x)

['Scotland' 'England' 'Wales' 'Republic of Ireland' 'United States'
 'Uruguay' 'Austria' 'Hungary' 'Argentina' 'Belgium' 'France'
 'Netherlands' 'Bohemia' 'Switzerland' 'Sweden' 'Germany' 'Italy' 'Chile'
 'Norway' 'Finland' 'Luxembourg' 'Russia' 'Denmark' 'Spain' 'Japan'
 'Brazil' 'Paraguay' 'China PR' 'Canada' 'Estonia' 'Guatemala'
 'Czechoslovakia' 'Poland' 'Yugoslavia' 'New Zealand' 'Romania' 'Latvia'
 'Portugal' 'Northern Ireland' 'Australia' 'Lithuania' 'Turkey' 'Mexico'
 'Aruba' 'Soviet Union' 'Haiti' 'Philippines' 'Bulgaria' 'Jamaica' 'Kenya'
 'Czech Republic' 'Peru' 'Honduras' 'British Guyana' 'Uganda'
 'El Salvador' 'Barbados' 'Irish Free State' 'Trinidad and Tobago'
 'Greece' 'Curaçao' 'Egypt' 'Dominica' 'Guadeloupe' 'Palestine'
 'Netherlands Guyana' 'French Guiana' 'Cuba' 'Colombia'
 'Saint Kitts and Nevis' 'Éire' 'Panama' 'Bohemia and Moravia' 'Slovakia'
 'Manchuria' 'Croatia' 'Costa Rica' 'Afghanistan' 'Martinique'
 'Southern Rhodesia' 'Iceland' 'Albania' 'Madagascar' 'Northern Rhodesia'
 'Tanganyika' 'Iran' 'Ecuador' 'French Somaliland' 'Belgian Congo'
 'Mauritius' 'Hong Kong' 'Vietnam' 'Macau' 'Ethiopia' 'Suriname'
 'Puerto Rico' 'Réunion' 'Israel' 'Sierra Leone' 'Zanzibar' 'Bolivia'
 'Gold Coast' 'South Africa' 'Netherlands Antilles' 'New Caledonia' 'Fiji'
 'Nigeria' 'Venezuela' 'Ceylon' 'French Polynesia' 'Gambia' 'Singapore'
 'Portuguese Guinea' 'German DR' 'New Hebrides' 'Burma' 'Saarland'
 'Cambodia' 'India' 'Lebanon' 'Pakistan' 'Malaya' 'South Korea'
 'Vietnam Republic' 'Togo' 'Indonesia' 'Sudan' 'Malta' 'Syria' 'Tunisia'
 'Nyasaland' 'Ghana' 'Morocco' 'United Arab Republic' 'North Korea'
 'Dahomey' 'Guinea-Bissau' 'Mali Federation' 'Mali' 'Vietnam DR' 'Cyprus'
 'Iraq' 'Saint Lucia' 'Senegal' 'Libya' 'Gabon' 'Thailand' 'Congo'
 'Tanzania' 'Grenada' 'Guinea' 'Central African Republic' 'Cameroon'
 'Algeria' 'Kuwait' 'Ivory Coast' 'Lautoka' 'Liberia' 'Malaysia' 'Jordan'
 'Zambia' 'Saint Vincent and the Grenadines' 'Bermuda' 'Niger' 'Malawi'
 'DR Congo' 'Upper Volta' 'Chinese Taipei' 'Guyana' 'Mauritania'
 'Rhodesia' 'Saudi Arabia' 'Eswatini' 'Mozambique' 'Papua New Guinea'
 'Bahrain' 'Lesotho' 'Somalia' 'Zaïre' 'Sri Lanka' 'Antigua and Barbuda'
 'Faroe Islands' 'Qatar' 'Yemen DPR' 'Burundi' 'Guam' 'Chad' 'Angola'
 'Dominican Republic' 'Seychelles' 'São Tomé and Príncipe' 'Botswana'
 'Benin' 'Rwanda' 'Bangladesh' 'United Arab Emirates' 'Zimbabwe' 'Oman'
 'Equatorial Guinea' 'Cape Verde' 'Liechtenstein' 'Nepal' 'Greenland'
 'Vanuatu' 'Western Samoa' 'Belize' 'Brunei' 'Djibouti' 'Burkina Faso'
 'Yemen AR' 'Anguilla' 'Nicaragua' 'Cayman Islands' 'Monaco'
 'Solomon Islands' 'Sint Maarten' 'Namibia' 'Saint Martin' 'San Marino'
 'Slovenia' 'Moldova' 'Ukraine' 'Kazakhstan' 'Tajikistan' 'Uzbekistan'
 'Turkmenistan' 'Georgia' 'Kyrgyzstan' 'Armenia' 'Belarus' 'Guernsey'
 'Azerbaijan' 'North Macedonia' 'Jersey' 'Montserrat' 'Gibraltar'
 'Bosnia and Herzegovina' 'Tonga' 'Andorra' 'Yemen' 'U.S. Virgin Islands'
 'Palau' 'Cook Islands' 'British Virgin Islands' 'Eritrea' 'Bahamas'
 'Micronesia' 'Maldives' 'Laos' 'Isle of Man' 'Samoa' 'Bhutan'
 'Serbia and Montenegro' 'Mayotte' 'Mongolia' 'Northern Cyprus' 'Serbia'
 'Montenegro' 'Northern Mariana Islands' 'Comoros'
 'Turks and Caicos Islands' 'South Sudan' 'Kosovo' 'East Timor' 'Tahiti'
 'Myanmar']

In [0]:
england_data = df.loc[df['country'] == "England"]
england_data.head(5)